Cloud Security/WebApplicationMapReduce/WebApplicationMapReduce/Connected Services/MRServiceReference/MapReduceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57772/MapReduceService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:57772/MapReduceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="MapReduce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="data" nillable="true" type="q1:ArrayOfstring" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="outputKeys" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MapReduceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="MapReduceResult" nillable="true" type="q3:ArrayOfKeyValuePairOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Map">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="MapResult" nillable="true" type="q4:ArrayOfKeyValuePairOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reduce">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyOutput" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="intermediateKeyPairBlocks" nillable="true" type="q5:ArrayOfArrayOfKeyValuePairOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReduceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="ReduceResult" nillable="true" type="q6:ArrayOfKeyValuePairOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>